@font-face {
  font-family: "iconfont"; /* Project id 3215122 */
  src: url('iconfont.woff2?t=1646285215755') format('woff2'),
       url('iconfont.woff?t=1646285215755') format('woff'),
       url('iconfont.ttf?t=1646285215755') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yuedu:before {
  content: "\e64a";
}

.icon-pinglun:before {
  content: "\e891";
}

.icon-gerenzhiyeguihua:before {
  content: "\e7ad";
}

.icon-aihao:before {
  content: "\e661";
}

.icon-logo-wechat:before {
  content: "\e619";
}

.icon-github:before {
  content: "\e63a";
}

